  
  .cabecero{
    display: block;
    position: absolute;
    width: 1920px;
    top: 30px;
    background-color: blue;
    height: 80px;
  }
  a.icono-inicio{
    position: relative;
    top: 50px;
    left: 80px;
  }
 .barra-nav{
    display: inline;
    position: absolute;
    top: 30px;
    right: 800px;
}
  header{
    font-family: Helvetica;
    width: 480px;
    margin: 0 auto;
  }
  ul{
    list-style: none;
  }
  #menu li>a{
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 20px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>a:hover{
    color: #000;
    background-color: lightcyan;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }